# SPDX-FileCopyrightText: 2026 Marc Ferland <marc.ferland@gmail.com>
#
# SPDX-License-Identifier: MIT

[oelint]
release=wrynose
suppress=
    oelint.var.suggestedvar.BUGTRACKER
    oelint.var.suggestedvar.SECTION
    oelint.var.bbclassextend
    oelint.var.suggestedvar.CVE_PRODUCT
    oelint.var.licenseremotefile
quiet=True
